*{
    margin: 0;
}
body{
    text-align: center;
    color: #222222;
    background-color: #ffd88e;
}
.nav{
    background-color: #f8ecde;
    padding: 16px 0;
    margin-bottom: 24px;
}
a{
    font-size: 24px;
    margin: 0 16px;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
ol{
    text-align:left;
       
}
h2,h3{
    font-size: 24px;
    margin: 16px 0;
}
p,li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
ol li{
    margin-bottom:16px;
}
ul{
    list-style-type: none;
    margin-right:16px ;
}
